<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_UrlIndexer>
            <version>1.0.0.2</version>
        </MageProfis_UrlIndexer>
    </modules>
    <global>
        <helpers>
            <urlindexer>
                <class>MageProfis_UrlIndexer_Helper</class>
            </urlindexer>
            <catalog>
                <rewrite>
                    <category_url_rewrite>MageProfis_UrlIndexer_Helper_Category_Url_Rewrite</category_url_rewrite>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <urlindexer>
                <class>MageProfis_UrlIndexer_Model</class>
                <resourceModel>urlindexer_resource</resourceModel>
            </urlindexer>
            <urlindexer_resource>
                <class>MageProfis_UrlIndexer_Model_Resource</class>
                <entities>
                    <url_rewrite_redirects>
                        <table>core_url_rewrite_redirects</table>
                    </url_rewrite_redirects>
                    <url_rewrite_category>
                        <table>core_url_rewrite_category</table>
                    </url_rewrite_category>
                </entities>
            </urlindexer_resource>
            <catalog>
                <rewrite>
                    <url>MageProfis_UrlIndexer_Model_Url</url>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <url>MageProfis_UrlIndexer_Model_Resource_Url</url>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <urlindexer_setup>
                <setup>
                    <module>MageProfis_UrlIndexer</module>
                    <class>MageProfis_UrlIndexer_Model_Resource_Setup</class>
                </setup>
            </urlindexer_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <urlindexer>
                        <class>MageProfis_UrlIndexer_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </urlindexer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <events>
            <catalog_category_prepare_save>
                <observers>
                    <urlindexer>
                        <class>urlindexer/observer</class>
                        <method>catalogCategorySave</method>
                    </urlindexer>
                </observers>
            </catalog_category_prepare_save>
            <catalog_product_prepare_save>
                <observers>
                    <urlindexer>
                        <class>urlindexer/observer</class>
                        <method>catalogProductSave</method>
                    </urlindexer>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
    <default>
        <dev>
            <index>
                <regen_category_url>0</regen_category_url>
                <optimize_categorie_leftjoin>1</optimize_categorie_leftjoin>
            </index>
        </dev>
    </default>
    <crontab>
        <jobs>
            <urlindexer_category_table_renew>
                <schedule>
                    <cron_expr>30 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>urlindexer/observer::renewCategoryUrlRewriteTable</model>
                </run>
            </urlindexer_category_table_renew>
        </jobs>
    </crontab>
</config>